#content {
    margin-top: 30px;
    margin-left: 300px;

}

input {
    width: 150px;
}

.submit {
    width: 50px;
    margin-right: 360px;
    margin-bottom: 10px;
}

.tosingup {
    margin-right: 300px;
}

.p {
    text-align: end;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 10;
    /* Firefox */
}