.upload-product {
    background-color: var(--variable-collection-white);
    height: 768px;
    overflow: hidden;
    width: 1366px;
    padding: 0;
}

.upload-product .overlap {
    height: 786px;
    position: relative;
    width: 1424px;
}

.upload-product .overlap-group {
    height: 768px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1424px;
}

.upload-product .header-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 1424px !important;
}

.upload-product .menu-instance {
    height: 768px !important;
    left: 1308px !important;
    position: absolute !important;
    top: 0 !important;
    width: 58px !important;
}

.upload-product .rectangle {
    background-color: #0053ee59;
    border-radius: 10px;
    height: 35px;
    left: 1316px;
    position: absolute;
    top: 379px;
    width: 42px;
}

.upload-product .frame-3 {
    height: 20px;
    left: 1327px;
    position: absolute;
    top: 386px;
    width: 20px;
}

.upload-product .group-wrapper {
    background-color: var(--variable-collection-off-white);
    border-radius: 10.17px;
    height: 702px;
    left: 40px;
    position: absolute;
    top: 84px;
    width: 1228px;
}

.upload-product .group {
    height: 613px;
    left: 210px;
    position: relative;
    top: 40px;
    width: 812px;
}

.upload-product .text-wrapper-3 {
    color: #000000;
    direction: rtl;
    font-family: var(--header-2-font-family);
    font-size: var(--header-2-font-size);
    font-style: var(--header-2-font-style);
    font-weight: var(--header-2-font-weight);
    left: 710px;
    letter-spacing: var(--header-2-letter-spacing);
    line-height: var(--header-2-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.upload-product .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 592px;
    position: absolute;
    top: 240px;
}

.upload-product .frame-5 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.upload-product .site-name {
    color: #5f5f5f;
    direction: rtl;
    font-family: var(--body-bold-font-family);
    font-size: var(--body-bold-font-size);
    font-style: var(--body-bold-font-style);
    font-weight: var(--body-bold-font-weight);
    letter-spacing: var(--body-bold-letter-spacing);
    line-height: var(--body-bold-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.upload-product .first-name {
    height: 25px;
    position: relative;
    width: 215px;
}

.upload-product .bright-web {
    color: #606060;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 112px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    text-align: right;
    top: 26px;
    width: 92px;
}

.upload-product .first-name-2 {
    height: 88px;
    position: relative;
    width: 215px;
}

.upload-product .flexcontainer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6.7px;
    height: 29px;
    width: 192px;
}

.upload-product .text {
    align-self: stretch;
    color: #606060;
    font-family: "Assistant-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 10.1px;
    position: relative;
    text-align: right;
}

.upload-product .span {
    color: #606060;
    font-family: "Assistant-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 10.1px;
}

.upload-product .frame-6 {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 2px;
    position: absolute;
    top: 240px;
}

.upload-product .frame-7 {
    align-items: flex-end;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    position: relative;
}

.upload-product .img-2 {
    height: 25px;
    position: relative;
    width: 65px;
}

.upload-product .bright-web-2 {
    color: #606060;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 26px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    text-align: right;
    top: 5px;
    width: 12px;
}

.upload-product .bright-web-3 {
    color: #606060;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 16px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    text-align: center;
    top: 26px;
    width: 33px;
}

.upload-product .bright-web-4 {
    color: #606060;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 4px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    text-align: center;
    top: 26px;
    width: 56px;
}

.upload-product .bright-web-5 {
    color: #000000;
    direction: rtl;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 112px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    top: 26px;
    width: 92px;
}

.upload-product .bright-web-6 {
    color: #606060;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 168px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    text-align: right;
    top: 27px;
    width: 33px;
}

.upload-product .frame-8 {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    left: 297px;
    position: absolute;
    top: 240px;
}

.upload-product .bright-web-7 {
    color: #606060;
    direction: rtl;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 111px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    top: 27px;
    width: 92px;
}

.upload-product .bright-web-8 {
    color: var(--variable-collection-gray-m);
    direction: rtl;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 112px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    top: 26px;
    width: 92px;
}

.upload-product .bright-web-9 {
    color: var(--variable-collection-gray-m);
    direction: rtl;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-style: var(--body-font-style);
    font-weight: var(--body-font-weight);
    left: 111px;
    letter-spacing: var(--body-letter-spacing);
    line-height: var(--body-line-height);
    position: absolute;
    top: 27px;
    width: 92px;
}

.upload-product .frame-9 {
    align-items: flex-end;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    left: 0;
    position: absolute;
    top: 428px;
}

.upload-product .first-name-3 {
    height: 83px;
    position: relative;
    width: 808px;
}

.upload-product .bright-web-10 {
    color: #606060;
    font-family: "Afek DL v2 AAA-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 663px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 23px;
    width: 124px;
}

.upload-product .filled-buttons {
    align-items: center;
    background-color: var(--variable-collection-primary);
    border-radius: 12px;
    display: flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    left: 133px;
    padding: 10px 24px;
    position: absolute;
    top: 573px;
    width: 675px;
}

.upload-product .text-wrapper-4 {
    color: var(--variable-collection-white);
    direction: rtl;
    font-family: "Assistant-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.upload-product .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 12px;
    height: 150px;
    left: 10px;
    position: absolute;
    top: 51px;
    width: 150px;
}

.upload-product .text-wrapper-5 {
    color: #000000;
    direction: rtl;
    font-family: "Assistant-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 68px;
}

.upload-product .overlap-group-2 {
    border: 2px dashed;
    border-color: #001a4c40;
    border-radius: 12px;
    height: 150px;
    left: 208px;
    position: absolute;
    top: 50px;
    width: 594px;
}

.upload-product .component {
    align-items: center;
    border-radius: 12px;
    display: inline-flex;
    gap: 10px;
    height: 40px;
    justify-content: center;
    left: 238px;
    padding: 10px 24px;
    position: absolute;
    top: 90px;
}

.upload-product .text-wrapper-6 {
    color: var(--variable-collection-primary);
    direction: rtl;
    font-family: "Assistant-Bold", Helvetica;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
}

.upload-product .upload-cloud {
    height: 86px;
    left: 252px;
    position: absolute;
    top: 15px;
    width: 86px;
}

.upload-product .frame-10 {
    align-items: center;
    border: 1px solid;
    border-color: var(--variable-collection-primary);
    border-radius: 8px;
    display: inline-flex;
    gap: 8px;
    justify-content: center;
    left: 0;
    padding: 8px 10px;
    position: absolute;
    top: 573px;
}

.upload-product .save {
    color: var(--variable-collection-black);
    direction: rtl;
    font-family: "Nunito Sans-Bold", Helvetica;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -0.05px;
    line-height: normal;
    position: relative;
    text-align: center;
    width: fit-content;
}

.upload-product .trash {
    height: 24px;
    position: relative;
    width: 24px;
}
