

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  direction: rtl;
  font-family: Varela Round;
}
#home{
  margin:10px;
  text-align: center;
  color: blue;
}
.but{
  margin: 20px;
}