.dashboard {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.dashboard .div {
    background-color: #ffffff;
    height: 1080px;
    overflow: hidden;
    position: relative;
    width: 1920px;
}

.dashboard .rectangle {
    background-color: #d9d9d9;
    height: 1104px;
    left: 0;
    position: absolute;
    top: 3px;
    width: 243px;
}

.dashboard .overlap {
    height: 199px;
    left: 440px;
    position: absolute;
    top: 95px;
    width: 1154px;
}

.dashboard .frame {
    align-items: flex-start;
    display: inline-flex;
    gap: 64px;
    left: 0;
    position: absolute;
    top: 0;
}

.dashboard .rectangle-2 {
    background-color: #d9d9d9;
    border-radius: 18px;
    height: 199px;
    position: relative;
    width: 342px;
}

.dashboard .vector {
    height: 160px;
    left: 174px;
    position: absolute;
    top: 24px;
    width: 98px;
}

.dashboard .img {
    height: 3px;
    left: 174px;
    position: absolute;
    top: 82px;
    width: 7px;
}

.dashboard .vector-2 {
    height: 25px;
    left: 164px;
    position: absolute;
    top: 64px;
    width: 31px;
}

.dashboard .vector-3 {
    height: 29px;
    left: 263px;
    position: absolute;
    top: 89px;
    width: 32px;
}

.dashboard .overlap-group {
    background-color: #d9d9d9;
    border-radius: 38.62px;
    height: 671px;
    left: 440px;
    position: absolute;
    top: 347px;
    width: 748px;
}

.dashboard .text-wrapper {
    color: #000000;
    font-family: "Ploni ML v2 AAA-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 65px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 28px;
}

.dashboard .rectangle-3 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 137px;
    width: 607px;
}

.dashboard .rectangle-4 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 193px;
    width: 607px;
}

.dashboard .rectangle-5 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 249px;
    width: 607px;
}

.dashboard .rectangle-6 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 305px;
    width: 607px;
}

.dashboard .rectangle-7 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 361px;
    width: 607px;
}

.dashboard .rectangle-8 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 417px;
    width: 607px;
}

.dashboard .rectangle-9 {
    background-color: #a9a9a9;
    border: 1px solid;
    border-color: #000000;
    height: 56px;
    left: 65px;
    position: absolute;
    top: 473px;
    width: 607px;
}

.dashboard .div-wrapper {
    background-color: #d9d9d9;
    border-radius: 38.62px;
    height: 671px;
    left: 1252px;
    position: absolute;
    top: 347px;
    width: 342px;
}

.dashboard .text-wrapper-2 {
    color: #000000;
    font-family: "Ploni ML v2 AAA-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 52px;
    width: 240px;
}

.dashboard .ellipse-2 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 30px;
    left: 1806px;
    position: absolute;
    top: 32px;
    width: 30px;
}

.dashboard .ellipse-3 {
    background-color: #d9d9d9;
    border-radius: 23.5px;
    height: 47px;
    left: 1844px;
    position: absolute;
    top: 21px;
    width: 47px;
}

.dashboard .ellipse-4 {
    background-color: #d9d9d9;
    border-radius: 15px;
    height: 30px;
    left: 1768px;
    position: absolute;
    top: 32px;
    width: 30px;
}

.dashboard .text-wrapper-3 {
    color: #000000;
    font-family: "Ploni ML v2 AAA-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 295px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 34px;
}

.dashboard .component-2 {
    height: 54px;
    left: 1668px;
    position: absolute;
    top: 17px;
    width: 54px;
}

.dashboard .component-1 {
    left: 1606px !important;
    position: absolute !important;
    top: 17px !important;
}
